@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}



/* --- PRINT SAFE GLOBALS ------------------------ */
@media print {

  /* Hide screen-only elements */
  .print\:hidden {
    display: none !important;
  }

  /* Expand everything */
  * {
    overflow: visible !important;
  }

  .no-print-scroll {
    overflow: visible !important;
    height: auto !important;
    max-height: none !important;
  }

  .pdf-section-block {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}


@media print {
  .print-full-width {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important;
    display: block !important;
  }
}
@media print {
  .avoid-break {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

@media print {
  * {
    overflow: visible !important;
  }
}

@media print {
  /* Remove left margin when printing */
  .print-remove-ml {
    margin-left: 0 !important;
  }

  /* Convert main layout from row → column */
  .print-force-column {
    display: block !important;
  }

  /* Expand main content full width */
  .print-full-width {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important;
  }

  /* Hide sidebar completely */
  .print-hide {
    display: none !important;
  }
}

.category-header {
  transition: all 0.2s ease-in-out;
}

.category-header:hover {
  filter: brightness(0.98);
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
html{

font-size:10px;
}

@layer components{

  .btn-learn-more{

    @apply
    inline-flex items-center justify-center
    px-6 py-2
    rounded-full

    text-base leading-6 font-semibold
    text-[#cc0000]

    border-2 border-[#cc0000]
    bg-transparent

    transition-all duration-200
    cursor-pointer

    hover:bg-white
    hover:text-[#2c2b2b]
    hover:border-[#2c2b2b]
     hover:outline-[2px]
    

    /* Click (ACTIVE) */
    active:bg-white
    active:text-[#2c2b2b]
    active:border-[#f2f2f2]
    active:outline
    active:outline-[2px]
    active:outline-[#1e88e5]
    active:outline-offset-0

    /* Remove default focus */
    focus:outline-none
  }
}

